# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Build directories
build/
dist/

# IDE and editor configurations
.vscode/
.idea/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# React Native
.expo/
